<h1 class="signup-title">Login</h1>

<div class="signup">

  <form class="signup-form" action="/login" method="post">
    <label class="signup-label">
      Email:
      <input
        class="signup-input"
        type="email"
        name="email"
        placeholder="john@doe.com"
      />
    </label>
    <label class="signup-label">
      Password:
      <input
        class="signup-input"
        type="password"
        name="password"
        placeholder="***********"
      />
    </label>

    <button class="signup-btn" type="submit">Login</button>

  </form>

</div>

{{#if errorMessage}}
  <div class="container">
    <div class="errorMessage">
      <p>{{errorMessage}}</p>
    </div>
  </div>

{{/if}}