<h1 class="signup-title">Join us!</h1>

<div class="signup">

  <form class="signup-form" action="/signup" method="post">
    <label class="signup-label">
      Username:
      <input
        class="signup-input"
        type="text"
        name="username"
        placeholder="username"
      />
    </label>
    <label class="signup-label">
      Email:
      <input
        class="signup-input"
        type="email"
        name="email"
        placeholder="jon@doe.com"
      />
    </label>
    <label class="signup-label">
      Password:
      <input
        class="signup-input"
        type="password"
        name="password"
        placeholder="***********"
      />
    </label>

    <button class="signup-btn" type="submit">Create Account</button>

  </form>

</div>