<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<a href="/products">Products</a>
<a href="/signup">Sign Up</a>
<a href="/login">login</a>
{{!--  
{{#each categories}}
  <p>{{this}}</p>
{{/each}}
--}}